{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          I am explorer and seeker of knowledge. Enthusiastic about technology, literature, and the art of communication. On a journey to learn, grow, and connect with like-minded individuals
        </p>
        <p>
          A history buff and music aficionado. Exploring the echoes of the past, pondering the depths of existence, and finding solace in the melodies that shape our lives
        </p>
        <p>
          Following the stars' shimmering guidance, diving into philosophical depths, and dancing to life's melodies. Currently pursuing a master's degree, embracing learning as an ever-brightening constellation
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
